{block delete}
{if $role ==1}  <!-- administrator-->
    <span onclick="deleteItem({$message},  {link $actionLink $id})">
        <img src="{$baseUri}/images/remove.png" id="sdh_bin" style="float: right;"/>
    </span>
{/if}