<block contact>
    <div class="col_w900">
        {include ../components/titleHeader.latte}
        <hr>
        <div class="col_w450 float_l">
            <div id="cp_contact_form">
                {control contactForm}
            </div>
        </div>

        <div class="col_w450 float_r">
            {include ../components/contact.latte}
        </div>
    </div>
</block>