{var $copyright = 'Copyright © 2016 - '}
{var webmaster = ['LINK' => 'https://www.linkedin.com/in/ing-v%C3%ADt-s%C3%A1deck%C3%BD-39853048'
 , 'NAME' => 'Ing. Vít Sádecký']
}
{$copyright|firstUpper}
<a href="{$webmaster['LINK']}">{$webmaster['NAME']|trim|capitalize}</a>