<table style="background-color: #252767; color: #ffffff;">
    <tr>
        <td width='800px' style="padding: 3px 50px;"><h2>{$title|trim|firstUpper}</h2></td>
        <td width="400px" style="padding: 10px;"></td>
        <td width="350" style="padding: 10px 50px;">
            <span style="float: right;">
                <img style='float:right;' src='{$basePath}/{$iconSection}' width=50 height=50/>
            </span>
        </td>
    </tr>
</table>