{var $iconSection = 'images/settings.png' }
{block mainContent}
    {include ../components/titleHeader.latte}
    <hr>
    <div id='cp_contact_form' class= 'account_label'>
        {control editAccountForm}
    </div>
{/block}