{var $iconSection = 'images/add_user.png' }
{block mainContent}

    {include ../components/titleHeader.latte}
    <hr>
    <div class="col_w450 float_l">
        <div id="cp_contact_form">
            {control registrationForm}
        </div>
    </div>
{/block}