{var $iconSection = 'images/gallery.png' }
{block mainContent}
    {include ../components/titleHeader.latte}
    <hr>
    <iframe src="{$baseUrl}/gallery/galleryFrame.php" width="1300" height="750" frameborder="0">
    </iframe>
{/block}