{var $iconSection = 'images/news.png' }
{block mainContent}
    {include ../components/titleHeader.latte}
    <hr>
    <p>Sekce - <b>{$title|trim|firstUpper}</b> není momentálně dostupná.</p>
{/block}