body {

}

.page-content {
    padding-top: 48px;
}

.color-list li {
    display: inline-block;
    padding: 10px;
    width: 14.2857%;
}

.prettyprint {
    background-color: rgb(238, 238, 238);
    border: 0 !important;
    border-width: 1px !important;
    border-color: rgb(238, 238, 238) !important;
    border-left: 8px rgb(85, 85, 85) solid !important;
}

.prettyprint ol {
    background-color: transparent !important;
}

.prettyprint li {background-color: rgb(255, 255, 255) !important; list-style-type: decimal !important; padding-left: 1em; border-bottom: 1px rgb(238, 238, 238) solid;}
.prettyprint li:last-child{border-bottom: 0;}
.prettyprint code .tag {
    font-size: .7rem;
}

.prettyprint {
    overflow: hidden;
    overflow-x: scroll;
}

.demo-grid .row > .cell {
    padding: 10px;
    background-color: rgb(169, 169, 169);
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px rgb(0, 0, 0) solid;
}

.thumb {
    background: rgb(255, 255, 255);
    padding: 4px;
    display: inline-block;
    height: 2.375rem;
    width: 2.375rem;
    border: 1px transparent solid;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .app-bar.fixed-top {
        position: relative !important;
    }
    .page-content {
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 640px) {
    .page-content {
        padding-top: 32px;
    }
}
